<%- include("../../shared/includes/head", { pageTitle: "Cart" }) %>
<link rel="stylesheet" href="/css/cart.css">
<script src="/js/update-cart.js" defer></script>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Cart</h1>
    <ul id="cart-items">
      <% for (const cartItem of locals.cart.items) { %>
        <li>
          <%- include("includes/cart-item", { item: cartItem }) %>
        </li>
      <% } %>
      <div id="cart-total">
        <p>Total: ₩<span id="cart-total-price"><%= locals.cart.totalPrice %></span></p>
        <% if (locals.isAuth) { %>
          <form action="/order" method="POST">
            <button class="btn">Buy</button>
          </form>
        <% } else { %>
          <p id="cart-total-fallback">Log in in order to buy products.</p>
        <% } %>
      </div>
    </ul>

  </main>
<%- include("../../shared/includes/footer") %>